body {
    font-family: 'Poppins', serif;
    text-align: center;
    background-color: #1d1f21; 
    color: #ffffff; 
    padding: 50px 0; 
    background-image: url(../Imagenes/blackjack_fondo.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;

}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;

}

th {
    background-color: #007bff;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

td {
    color: #343a40;
    font-size: 14px;
   
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007bff;
}

table caption {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

tfoot {
    background-color: #f1f1f1;
}

tr:first-child {
    background-color: #ffd700; 
    color: #000; 
    font-weight: bold;
}

tr:nth-child(2) {
    background-color: #c0c0c0; 
    color: #000;
    font-weight: bold;
}

tr:nth-child(3) {
    background-color: #cd7f32; 
    color: #000;
    font-weight: bold;
}
tr {
    border: 3px solid black;
}

.papelera {
    background-color: #FF6B6B; /* Rojo suave */
    color: #fff;
    border: none;
    margin: 20px;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.papelera:hover {
    background-color: #FF4A4A; /* Rojo más oscuro */
    transform: scale(1.05); /* Ligeramente más grande al pasar el cursor */
    transition: all 1s;
}
