body {
    font-family: 'Poppins', serif;
    text-align: center;
    background-color: #1d1f21; /* Color de fondo oscuro */
    color: #ffffff; /* Color del texto blanco */
    padding: 50px 0; /* Espacio superior e inferior */
    background-image: url(../Imagenes/blackjack_fondo.jpg); /* Fondo de la imagen */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    display: flex; /* Usar flexbox para centrar contenido */
    flex-direction: column; /* Colocar en columna */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
h1 {
    font-size: 4em;
    animation: bounce 2s infinite;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
form {
    background: rgba(30, 30, 30, 0.8); /* Fondo semi-transparente */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra suave */
    width: 90%; /* Ancho responsivo */
    max-width: 400px; /* Ancho máximo */
}

form input[type="button"] {
    background-color: #4CAF50; /* Color de fondo verde */
    color: #ffffff; /* Color del texto */
    padding: 15px 0; /* Espacio interno */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    width: 100%; /* Ocupa todo el ancho del formulario */
    font-size: 18px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin: 10px 0; /* Espacio entre los botones */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: background-color 0.3s ease; /* Efecto de transición */
}

form input[type="button"]:hover {
    background-color: #2d5de0; /* Color más oscuro al pasar el mouse */
    transition: all 1s;
    font-size: 22px;
}

form input[type="button"]:active {
    background-color: #3e8e41; /* Color aún más oscuro al hacer clic */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra reducida */
    transform: translateY(2px); /* Efecto de presionado */
    transition: all 1s;

}
.luigi{

    position: absolute;
    left: 200px;
    top: 150px;
}
